In [1]:
print("Hello! Welcome to my data analysis project")

Hello! Welcome to my data analysis project

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
data_path = "E:/Computer Programming/CSV_FILES_FOLDER/Eicher/Final_Defect_Analysis_Project.xlsx"
df = pd.read_excel(data_path,sheet_name="Scratch Data")

In [18]:
print("DataSet Previev:")
print(df.head())

DataSet Previev:
  QC5 - Scratch Report Data Sheet Unnamed: 1      Unnamed: 2   Unnamed: 3  \
0                             NaN        NaN             NaN          NaN
1                            Date      Model  Chassis Number  Defect Type
2             2024-05-18 00:00:00        368           55562      Scratch
3             2024-05-18 00:00:00        333           55615      Scratch
4             2024-05-20 00:00:00        242           55808      Scratch

     Unnamed: 4    Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  \
0           NaN           NaN         NaN         NaN         NaN
1      Location  Vehical Type         NaN         NaN         NaN
2   MudGuard RH          ES 3         NaN         NaN         NaN
3  Fuel Tank RH        Normal         NaN         NaN         NaN
4  Fuel Tank RH        Normal         NaN         NaN         NaN

  Filter data based on Vehical Type Unnamed: 10     Unnamed: 11  Unnamed: 12  \
0                               NaN         NaN             NaN          NaN
1                      Vehical Type         NaN          Normal  Entry Count
2                              Date       Model  Chassis Number  Defect Type
3               2024-05-18 00:00:00         333           55615      Scratch
4               2024-05-20 00:00:00         242           55808      Scratch

    Unnamed: 13   Unnamed: 14
0           NaN           NaN
1           NaN             8
2      Location  Vehical Type
3  Fuel Tank RH        Normal
4  Fuel Tank RH        Normal

In [19]:
df.columns = [col.strip() for col in df.columns]
print("\nColumns in Data")
print(df.columns)

Columns in Data
Index(['QC5 - Scratch Report Data Sheet', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Filter data based on Vehical Type', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14'],
      dtype='object')

In [20]:
if 'Model Number' in df.columns and 'Count of Scratch' in df.columns:
    model_counts = df.groupby('Model Number')['Count Of Scratch'].sum().sort_values(ascending=False)
    plt.figure(figsize=(10,6))
    sns.barplot(x=model_counts.index.astype(str), y = model_counts.values, palette="viridis")
    plt.title('Total Scratches Per Model Number')
    plt.xlabel('Model Number')
    plt.ylabel('Total Scratches')
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()

In [12]:
if 'Scratch Type' in df.columns:
    position_counts = df['Scratch Type'].value_counts()
    plt.figure(figsize=(10,6))
    sns.barplot(x=position_counts.index, y = postion_counts.values, palette="magma")
    plt.title('Total Scratches Per Model Number')
    plt.xlabel('Model Number')
    plt.ylabel('Total Scratches')
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()